.header {

  .topheader {
    .top {
      background-color: var(--white);
    }

    ul.top {

      list-style-type: none;
      display: flex;
      justify-content: flex-end;
    }

    ul.vov {
      list-style-type: none;
      display: flex;
      justify-content: center;
    }

    li {
      text-decoration: none;
      padding: 20px;
    }

    .icon {
      width: 30%;
    }

    .function {
      width: 20%;
      height: 50px;
      border: 1px solid black;
    }

    input {
      width: 200px;
      border: 2px solid rgb(225, 90, 90);
      border-radius: 20px;
      height: 40px;
    }

    .down {
      background-color: blue;
      list-style-type: none;
      display: flex;
      justify-content: center;
      color: aliceblue;
      font-size: 30px;
    }
  }
}

.fuild-menu {
width: 100%;
background-color: blue;

  .header_mainmenu {
    display: flex;
    width: 80%;
    margin: 0 auto;
    .home-icon{
        line-height: 40px;
        i{
 
  color: var(--white);
          font-weight: 700;
        }
    }

    ul {
      display: flex;

      li {
        margin: 0 10px;
        
        line-height: 40px;
        a{
          span{
            font-weight: 700;
            color: var(--white);
            
          }
        }
      }
    }
  }
}