.customize-partial-edit-shortcut-woo_slider_pages {
	float: right;
	right: 0;
	top: -10px;
}

.ecommerce-banner > .container > .row {
	position: relative;
}

.customize-partial-edit-shortcut-woocommerce_category_menu_text {
	left: 15px;
	top: 0px;
}
/* header */

 .phone-cong-content {
	display: flex;
    justify-items: center;
	margin-left: 10px;
}
 .phone-cong-content img {
	width: 32px;
    height: 32px;
}
 .phone-cong-content .content {
	margin-left: 14px;
}
.phone-cong-content.user {
    margin-left: 36px;
}
 .phone-cong-content p {
	font-size: 14px;
    width: 127px;
}
/* -------------------------------------menu category -----------------------------------*/
ul#categories-menu-product-comestic {
}
ul#categories-menu-product-comestic .cat-item {
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
}
ul#categories-menu-product-comestic .cat-item img {
	
	width: 23px;
	height: 23px;
	object-fit: contain;
	margin-left: 20px;
}
ul#categories-menu-product-comestic .cat-item a {
	background-color: white;
	box-shadow: none;
	border: none;
}
/* banner============================ */
.swiper-imagebanner-cong.mt-5 {
    margin-top: 69px;
}






/* foooter===================================== */
.h-container-footer {
      width: 1260px;
      margin: 0 auto;
      display: flex;
      background-color: #f6f6f6;
    }

   .h-container-footer  .footerLeft {
      width: 40%;
      height: 25px;
      display: flex;
      flex-direction: column;
    }

    .h-container-footer .topLeft {
      display: flex;
      flex-direction: column;
    }

   .h-container-footer  .topLeft img {
      width: 100px;
      height: 30px;
    }

   .h-container-footer  .info .address {
      width: 450px;
      height: 25px;
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
    p{
      font-size: 13.5px;
      font-family: 'Poppins';
      line-height: 1.8;
      color: #000000;
    }
    .h-container-footer  .info .address p{
      font-size: 13.5px;
      font-family: 'Poppins';
      line-height: 1.8;
      color: #000000;
    }
   .h-container-footer  .info .address img {
      width: 15px;
      height: 20px;
      display: flex;
    }

   .h-container-footer  .socialMedia {
      margin-top: 20px;
      display: flex;
      gap: 20px;

    }

    .h-container-footer .socialMedia img {
      width: 25px;
      height: 25px;
    }
    .h-container-footer .footerRight{
      width: 70%;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 50px;
      align-items: center;
      justify-content: center;
    }
   .h-container-footer  .footerRight .rightItem{
      width: 60%;
      height: auto;
      display: flex;
      flex-direction: row;
      gap: 50px;
    }
  
    #inf{
      font-size: 18px;
      font-weight: 500;
      color: black;
    }
   .h-container-footer  .items ul li {
      list-style-type: none;
      
    }
    .h-container-footer .items ul li a{
      font-size: 13.5px;
      font-family: 'Poppins';
      line-height: 1.8;
      color: #000000;
      text-decoration-line: none;
    }
   .h-container-footer  .items ul li a:hover{
      color: #d82e4d;
    }
    .h-container-footer .footerRight .reciveInfo{
      width: 40%;
      height: auto;
    }
    .h-container-footer .footerRight .reciveInfo ul{
      font-size: 13.5px;
      font-family: 'Poppins';
      line-height: 1.8;
    }
   .h-container-footer  .inputInfo{
      display: flex;
    }
    .h-container-footer .inputInfo input{
      width: 230px;
      height: 30px;
      background-color: white;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }
   .h-container-footer  .register{
      width: 80px;
      height: 30px;
      background-color: orange;
      text-align: center;
      align-items: center; 
      justify-content: center;
      position: relative;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

    } 
    .h-container-footer .footerRight .reciveInfo .inputInfo .register p{
      font-size: 13.5px;
      font-family: 'Poppins';
      line-height: 1.8;
      color: #000000;
      position: absolute;
      bottom: 5px;
      left: 10px;
    }
    /* ===========================tab */
.csw-catory-product {
  
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 10px;
  
}
/* .csw-poster img {
  margin-left: 50px;
} */
.csw-list-product {
  display: flex;
  flex-wrap: wrap;
  margin-right: 40px;
  
}
.csw-list-product .csw-product-item {
  width: calc(25% - 20px);
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .csw-list-product .csw-product-item {
    width: 100%;
  }
}
.csw-list-product .csw-product-item:nth-child(4n + 1), .csw-list-product .csw-product-item:nth-child(4n + 2) {
  margin-right: 30px;
}
@media (max-width: 767px) {
  .csw-list-product .csw-product-item:nth-child(4n + 1), .csw-list-product .csw-product-item:nth-child(4n + 2) {
    margin-right: 0px;
  }
}
.csw-list-product .csw-product-item .csw-media {
  display: inline-block;
  margin: 0 0 20px 0;
}
.csw-list-product .csw-product-item .csw-title {
  margin: 0 0 10px 0;
  font-size: 20px;
  line-height: 25px;
  font-weight: 600;
  color: #333;
}
.csw-list-product .csw-product-item .csw-title a {
  font-size: 18px;
  line-height: 24px;
  color: #333;
  font-weight: 600;
  transition: 0.4s;
}
.csw-list-product .csw-product-item .csw-title a:hover {
  color: #f00;
}
.csw-list-product .csw-product-item .csw-product-price {
  margin: 0 0 10px 0;
}
.csw-list-product .csw-product-item .csw-product-price span {
  font-size: 16px;
  line-height: 20px;
}
.csw-list-product .csw-product-item .csw-product-price del span {
  color: #999;
}
.csw-list-product .csw-product-item .csw-product-price ins span {
  color: #666;
}
.csw-list-product .csw-product-item .csw-add-cart {
  display: inline-block;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background: #202b5d;
  padding: 10px 20px 10px 20px;
  transition: 0.4s;
}
.csw-list-product .csw-product-item .csw-add-cart:hover {
  background: #f00;
}
