.customize-partial-edit-shortcut-woo_slider_pages{
	float: right;
	right: 0;
	top: -10px;
}

.ecommerce-banner > .container > .row {
	position: relative;
}

.customize-partial-edit-shortcut-woocommerce_category_menu_text{
	left: 15px;
    top: 0px;
}